* {
	box-sizing: border-box;
	margin:0;
}
#promo {
	height: 700px;
	background: no-repeat center/cover url("../images/promo.png");
}

.promo-header {
	height: 150px;
	line-height: 150px;
}

.promo_logo {
	margin-top:46px;
	float: left;
	padding:0;
	font-size: 20px;
}
.promo_buttons {
	margin-top:38px;
	float: right;
	font-size: 14px;
}
.promo_logo > li,
.promo_buttons > li {
	list-style-type: none;
	display: inline-block;
}
.promo_logo a,
.promo_buttons a {
	text-decoration: none;
	color: #fff;
	font-family: MontserratBold
}

.promo_buttons .promo_button-signIn > a {
	padding: 8px 18px;
	border-radius: 30px;
	border:2px solid #fff;
}
.promo_button-logIn {
	padding: 8px 18px;
	margin-right: 10px;
}
.how_it_works a {
	text-decoration: none;
	color: #000;
	font-family: MontserratBold;
}
.how_it_works {
	height: 100px;
	line-height: 100px;
	text-align:center;
}
/*****Step_1*****/
.how_it_works .step_1{
	height: 400px;
	color: #fff;
	margin:0 10px 0 10px;
	border-radius: 5px;
	background: no-repeat center/cover url("../images/logo_1.png");
}
.step_1 h3 {
	font-size: 24px;
	font-family: MontserratBold;
}
.step_1 p {
	font-size: 14px;
	font-family: Roboto-Light;
	color: #ccc;
}
/*****Step_1*****/

/*****Step_2*****/
.how_it_works .step_2{
	height: 400px;
	color: #fff;
	margin:0 10px 0 10px;
	border-radius: 5px;
	background: no-repeat center/cover url("../images/logo_2.png");
}
.step_2 h3 {
	font-size: 24px;
	font-family: MontserratBold;
}
.step_2 p {
	font-size: 14px;
	font-family: Roboto-Light;
	color: #ccc;
}
/*****Step_2*****/

/*****Step_3*****/
.how_it_works .step_3{
	height: 400px;
	color: #fff;
	margin:0 10px 0 10px;
	border-radius: 5px;
	background: no-repeat center/cover url("../images/logo_3.png");
}
.step_3 h3 {
	font-size: 24px;
	font-family: MontserratBold;
}
.step_3 p {
	font-size: 14px;
	font-family: Roboto-Light;
	color: #ccc;
}
/*****Step_3*****/

.share > h3 {
	margin-top:145px;
	text-align:center;
	color: #fff;
	font-family: MontserratBold;
	font-size:52px;
}	

.share > p {
	margin-top: 22px;
	text-align:center;
	color: #fff;
	font-family: MontserratBold;
	font-size:20px;
}	
.share .find {
	margin-top:36px;
	text-decoration: none;
	color: #fff;
	font-family: MontserratBold;
	font-size:15px;
}
.find  {
	height: 40px;
	line-height: 40px;
	width: 225px;
	background-color: #ff4e50;
	border-radius: 20px;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

